.main-vertical-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main_content_layout {
  flex: 1;
  overflow-y: scroll;
}

.bottom_empty_layout {
  height: 50px;
  overflow: hidden;
}

.main_bottom {
  position: relative;
}