/*全局配置React-Vant主题属性*/
:root:root {
    --rv-button-primary-background-color: #ff3b14;
    --rv-tabbar-item-active-color: #ff3b14;
    --rv-nav-bar-background-color: #ff3b14;
    --rv-nav-bar-text-color: white;
    --rv-nav-bar-title-text-color: white;
    --rv-tabs-nav-background-color: #ff3b14;
    --rv-tabs-default-color: white;
    --rv-tab-active-text-color:white;
    --rv-tabs-bottom-bar-color:white;
    --rv-tab-text-color:#888888;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.vertical-content-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.horizontal-layout {
    display: flex;
    flex-direction: row;
}




