/*全局配置React-Vant主题属性*/
:root:root {
    --rv-button-primary-background-color: #EA4C43;
    --rv-tabbar-item-active-color: #EA4C43;
    --rv-nav-bar-background-color: #EA4C43;
    --rv-nav-bar-text-color: white;
    --rv-nav-bar-title-text-color: white;
    --rv-tabs-nav-background-color: #EA4C43;
    --rv-tabs-default-color: white;
    --rv-tab-active-text-color:white;
    --rv-tabs-bottom-bar-color:white;
    --rv-tab-text-color:#333333;
    --rv-nav-bar-title-font-size:18px;
    --rv-nav-bar-icon-color:white;
}

.app-vertical-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.vertical-content-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.horizontal-layout {
    display: flex;
    flex-direction: row;
}




